@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IConfiguration Configuration
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JSRuntime

@implements IDisposable

<AuthorizeView>
    <Authorized>
        Hello, @(context.User.Identity?.Name ?? string.Empty)
        <a href="#" @onclick="BeginSignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {

    protected override async Task OnInitializedAsync()
    {
        // AuthenticationStateProvider.AuthenticationStateChanged += OnAuthenticationStateChanged;
    }

    private void OnAuthenticationStateChanged(Task<AuthenticationState> state)
    {
    }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        var authority = (string)Configuration["Auth0:Authority"];
        var clientId = (string)Configuration["Auth0:ClientId"];

        Navigation.NavigateToLogout($"{authority}/v2/logout?client_id={clientId}");

        await JSRuntime.InvokeVoidAsync("sessionStorage.clear");
        Navigation.NavigateToLogout($"authentication/logout");
    }

    public void Dispose()
    {
        // AuthenticationStateProvider.AuthenticationStateChanged -= OnAuthenticationStateChanged;
    }
}